<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-instagram fa-4x" style="color:#c62828"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-success btn-block mb-2"
      >Register</a
    >
    <a href="/users/login" class="btn btn-info btn-block">Login</a>
    </div>
  </div>
</div>